<div class="container wall">
    <toast></toast>
    <div class="row">
        <div class="col-sm-12">
            <section id="about">
                <toast></toast>
                <div class="about">
                    <div class="header" ng-style="{'background-image': 'url(\'' + user.cover.thumb1140.url + '\')'}">
                        <md-button ngf-select
                                   ngf-pattern="'image/*'"
                                   ngf-accept="'image/*'"
                                   ngf-multiple="false"
                                   ng-model="cover"
                                   class="md-fab md-primary edit-cover"
                                   aria-label="Eat cake"
                                   style="position: absolute; top: 0;"
                                    ng-show="isOwn(user.id)">
                            <md-icon md-font-icon="fa fa-image fa-2x"></md-icon>
                        </md-button>
                        <h2 class="text-center">{{ user.name }}</h2>
                    </div>
                    <div class="container">
                        <div class="avatar center-block">
                            <div class="img" ng-style="{'background-image': 'url(\'' + user.avatar.thumb512.url + '\')'}">
                                <md-button ngf-select
                                           ngf-pattern="'image/*'"
                                           ngf-accept="'image/*'"
                                           ngf-multiple="false"
                                           ng-model="avatar"
                                           class="md-fab md-primary md-mini edit-avatar"
                                           aria-label="Eat cake 2"
                                           ng-show="isOwn(user.id)"
                                           style="margin: 70px 0 0 70px;">
                                    <md-icon md-font-icon="fa fa-image"></md-icon>
                                </md-button>
                            </div>
                        </div>
                        <blockquote class="text-center">
                            <p class="text-center">{{ user.status}}</p>
                            <footer><cite title="Source Title">Status</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 scrollit">
                        <div class="row">
                            <md-tabs id="tabs" md-dynamic-height md-border-bottom class="md-block">
                                <md-tab label="LATEST" ng-click="changeMode('me')">
                                </md-tab>
                                <md-tab label="bookmarks" ng-click="changeMode('bookmarks')">
                                </md-tab>
                            </md-tabs>
                        </div>

                        <div class="row" masonry infinite-scroll="getPosts(currentData)" infinite-scroll-disabled="busy">
                            <div class="col-sm-6 masonry-brick" ng-repeat="post in currentData.data">
                                <div class="post">
                                    <div class="post-header">
                                        <img ng-src="{{ post.user.avatar.thumb128.url }}" alt="user avt" class="post-avt"/>
                                        <span><a ng-href="#/wall/{{ post.user.id }}">{{ post.user.name }}</a> <small> in {{ fromNow(post.created_at) }}</small><span
                                                class="pull-right">
                                        <md-menu md-position-mode="target-right target">
                                      <md-button aria-label="Open demo menu" class="md-icon-button"
                                                 ng-click="$mdMenu.open($event)">
                                        <md-icon md-menu-origin class="fa fa-chevron-down"></md-icon>
                                      </md-button>
                                      <md-menu-content width="2">
                                        <md-menu-item>
                                          <md-button ng-click="createReport(post.id)">
                                              <div layout="row" flex>
                                                <p flex>Report</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                          <md-menu-item>
                                          <md-button ng-click="createBookmark(post)">
                                              <div layout="row" flex>
                                                <p flex>Bookmark</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                          <md-menu-item ng-if="isOwn(post.user_id)">
                                          <md-button ng-click="editPost($event, post)">
                                              <div layout="row" flex>
                                                <p flex>Edit</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="isOwn(post.user_id)">
                                          <md-button ng-click="deletePost(post)">
                                              <div layout="row" flex>
                                                <p flex>Delete</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>

                                      </md-menu-content>
                                    </md-menu>
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="post-body">
                                        <div class="word-wrap">{{ post.body }}
                                            <br/><a href="#/" ng-click="showPostContent($event, post)"> Read more</a>
                                        </div>
                                        <br>
                                        <p><i class="fa fa-map-marker fa-fw"></i>
                                            <small><a title="See on google maps" target="_blank" href="https://www.google.com/maps/@{{post.location.lat}},{{post.location.long}},16z">{{ post.location.name }}</a></small>
                                        </p>
                                        <div ng-include="'/pages/images.tmpl.html'"></div>
                                    </div>
                                    <div class="post-footer">
                                        <hr>
                                        <span ng-click="showPostContent($event, post)"><i class="fa fa-fw fa-comments"></i>{{ post.data.comments}}</span>
                                        <span class="pull-right feeling" ng-click="showPostContent($event, post)">
                                <span><i class="fa fa-fw fa-thumbs-o-up"></i>{{ post.data.rates[0] }}</span>
                                <span ng-show="post.data.rates[1] > 0"><i class="fa fa-fw fa-heart-o"></i>{{ post.data.rates[1] }}</span>
                                <span ng-show="post.data.rates[2] > 0"><i class="fa fa-fw fa-smile-o"></i>{{ post.data.rates[2] }}</span>
                                <span ng-show="post.data.rates[3] > 0"><i class="fa fa-fw fa-hand-peace-o"></i>{{ post.data.rates[3] }}</span>
                                <span ng-show="post.data.rates[4] > 0"><i class="fa fa-fw fa-heartbeat"></i>{{ post.data.rates[4] }}</span>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="fixed" id="sticker" style="width: 100%">
                        <h3 class="text-center">About</h3>
                        <hr>
                        <div class="col-md-4 text-right">Name</div>
                        <div class="col-md-8">{{ user.name}}</div>
                        <div class="col-md-4 text-right">DoB</div>
                        <div class="col-md-8">{{ user.date_of_birth}}.</div>
                        <div class="col-md-4 text-right">Sex</div>
                        <div class="col-md-8"><i class="fa fa-fw fa-{{ user.sex == 0 ? 'male' : 'female'}}"></i>{{ sex(user.sex)}}</div>
                        <br>
                        <md-button ng-href="#/wall/{{ user.id }}/profile" ng-if="isOwn(user.id)" class="md-primary" style="margin: 10px auto;">Edit profile</md-button>
                        <hr>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>