<md-dialog aria-label="Form" style="width: 100%;  height: 100%;" class="post-dialog">
    <md-dialog-content layout="row" style="min-width: 1000px; height: 100%;">
        <div class="container-fluid img-box" flex="60" layout="column" layout-align="center">
            <div class="img-btn img-prev" ng-click="prev(data.post.images)"><i class="fa fa-fw fa-5x fa-angle-left"></i>
            </div>

            <div class="img-btn img-next" ng-click="next(data.post.images)"><i
                    class="fa fa-fw fa-5x fa-angle-right"></i></div>

            <img class="img-responsive"
                 ng-src="{{ images(data.post.images) }}"
                 alt="current img">
        </div>
        <div class="container-fluid info" flex="40" style="overflow-y: auto;">
            <p><span ng-click="cancel()" class="pull-right"><i class="fa fa-fw fa-close"></i></span></p>
            <div>
                <a href="#/">
                    <img ng-src="{{ data.post.user.avatar}}"
                         alt="avt" class="avt"/>
                    <b>{{ data.post.user.name}}</b>
                </a>
                <small>in {{ fromNow(data.post.created_at) }}</small>
            </div>
            <hr>
            <div>
                <p>{{ data.post.body }}</p>
                <hr>
                <p><i class="fa fa-map-marker fa-fw fa-2x"></i><a href="">{{ data.post.location.name }}</a></p>
            </div>
            <hr>
            <div>
                <span class="fa-fw"><i class="fa fa-fw fa-thumbs-o-up"></i><small>10</small></span>
                <span class="fa-fw"><i class="fa fa-fw fa-thumbs-o-up"></i><small>110</small></span>
                <span class="fa-fw"><i class="fa fa-fw fa-thumbs-o-up"></i><small>12</small></span>
                <span class="fa-fw"><i class="fa fa-fw fa-thumbs-o-up"></i><small>14</small></span>
                <span class="fa-fw"><i class="fa fa-fw fa-thumbs-o-up"></i><small>16</small></span>
                <span class="pull-right"><i class="fa fa-bookmark-o"></i></span>
            </div>
            <hr>
            <div>
                <ul>
                    <li class="row" ng-repeat="comment in data.comments">
                        <div class="col-sm-1">
                            <a href="#/">
                                <img ng-src="{{ comment.user.avatar}}"
                                     alt="avt" class="comment-avt"/>
                            </a>
                        </div>
                        <div class="col-sm-11">
                            <p>
                                <a href="#/" class="fa-fw">
                                    <b>{{ comment.user.name}}</b>
                                </a>
                                {{ comment.body}}
                                <br>
                                <small>{{ fromNow(comment.created_at) }}</small>
                            </p>

                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-12">
                            <input type="text" class="input" placeholder="Input something...">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>

