<md-dialog aria-label="Form" style="width: 100%;height: 100%;" class="post-dialog">
    <md-dialog-content layout="row" style="height: 100%; width: 100%">
        <div class="container-fluid info" flex style="overflow-y: auto;">
            <input type="text" id="pac-input" class="controls"/>
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="container-fluid info" flex style="overflow-y: auto;">
            <p><span ng-click="cancel()" class="pull-right"><i class="fa fa-fw fa-close"></i></span></p>
            <hr>
            <h5>Status</h5>
            <textarea name="" id="" class="form-control" placeholder="What are you doing now?"
                      ng-model="post.body"></textarea>
            <hr>
            <i class="fa fa-map-marker fa-fw fa-2x"></i><a href="#/{{ post.location.lat}}, {{ post.location.long }}">{{ post.location.name }}</a>
            <hr>
            <h5>Images <i class="fa fa-spinner fa-pulse fa-fw" ng-show="doing"></i></h5>
            <div class="col-md-3" ng-repeat="image in post.images">
                <img ng-src="{{ image.src.thumb.url }}" alt="img" class="img-thumb img-responsive">
            </div>
            <div class="col-md-3">
                <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
                     style="margin-top: 10px; height: 100px; width: 100px; border: 1px groove gray;"
                     ngf-multiple="false"
                     class="drop-box">Select Image
                    <span ng-show="dropAvailable"> or Drop Image</span>
                </div>
            </div>

            <div class="col-sm-12">
                <md-button class="md-raised md-primary" ng-click="sendPost()">Send <i class="fa fa-spinner fa-pulse fa-fw" ng-show="sending"></i></md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>

