<div class="container home">
    <toast></toast>
    <div class="row">
        <div class="col-sm-3">
            <div class="avt">
                <img ng-src="{{ user.avatar.thumb512.url }}" alt="avt" class="img-responsive center-block"/>
                <hr>
                <h3 class="text-center">
                    <a ng-href="#/wall/{{ user.id }}">{{ user.name }}</a>
                </h3>
                <hr>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <md-tabs id="tabs" md-dynamic-height md-border-bottom class="md-block">
                    <md-tab label="LATEST" ng-click="changeMode('new')">
                    </md-tab>
                    <md-tab label="Top Rate" ng-click="changeMode('rates')">
                    </md-tab>
                    <md-tab label="My bookmarks" ng-click="changeMode('bookmarks')">
                    </md-tab>
                    <md-tab label="Search" ng-click="search('search')">
                        <div class="col-sm-6 col-sm-offset-3" layout-padding>
                            <div class="input-group" ng-if="currentData.mode == 'search'">
                                <input class="form-control" placeholder="ex: Hà Nội" type="text" ng-model="query">
                                <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="searchBegin(query)">Search</button>
                        </span>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>

            <div class="row" masonry-preserve-order masonry="" infinite-scroll="getPosts(currentData)" infinite-scroll-disabled="busy">



                <div class="col-sm-6 masonry-brick" ng-repeat="post in currentData.data | orderBy:'-id'">
                    <div class="post">
                        <div class="post-header">
                            <img ng-src="{{ post.user.avatar.thumb128.url }}" alt="user avt" class="post-avt"/>
                            <span>
                        <a ng-href="#/wall/{{ post.user.id }}">{{ post.user.name }}</a> <small> in {{ fromNow(post.created_at) }}</small><span
                                    class="pull-right">
                                 <md-menu md-position-mode="target-right target">
                                      <md-button aria-label="Open demo menu" class="md-icon-button"
                                                 ng-click="$mdMenu.open($event)">
                                        <md-icon md-menu-origin class="fa fa-chevron-down"></md-icon>
                                      </md-button>
                                      <md-menu-content width="2">
                                        <md-menu-item>
                                          <md-button ng-click="createReport(post.id)">
                                              <div layout="row" flex>
                                                <p flex>Report</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                          <md-menu-item>
                                          <md-button ng-click="createBookmark(post)">
                                              <div layout="row" flex>
                                                <p flex>Bookmark</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                          <md-menu-item ng-if="isOwn(post.user_id)">
                                          <md-button ng-click="editPost($event, post)">
                                              <div layout="row" flex>
                                                <p flex>Edit</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="isOwn(post.user_id)">
                                          <md-button ng-click="deletePost(post)">
                                              <div layout="row" flex>
                                                <p flex>Delete</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>

                                      </md-menu-content>
                                    </md-menu>
                    </span>
                        </div>
                        <hr>
                        <div class="post-body">
                            <div class="word-wrap">{{ post.body }}
                                <br/><a href="#/" ng-click="showPostContent($event, post)"> Read more</a>
                            </div>
                            <br>
                            <p><i class="fa fa-map-marker fa-fw"></i>
                                <small><a title="See on google maps" target="_blank" href="https://www.google.com/maps/@{{post.location.lat}},{{post.location.long}},16z">{{ post.location.name }}</a></small>
                            </p>
                            <div ng-include="'/pages/images.tmpl.html'"></div>
                        </div>
                        <div class="post-footer">
                            <hr>
                            <span ng-click="showPostContent($event, post)"><i class="fa fa-fw fa-comments"></i>{{ post.data.comments}}</span>
                            <span class="pull-right feeling" ng-click="showPostContent($event, post)">
                                <span><i class="fa fa-fw fa-thumbs-o-up"></i>{{ post.data.rates[0] }}</span>
                                <span ng-show="post.data.rates[1] > 0"><i class="fa fa-fw fa-heart-o"></i>{{ post.data.rates[1] }}</span>
                                <span ng-show="post.data.rates[2] > 0"><i class="fa fa-fw fa-smile-o"></i>{{ post.data.rates[2] }}</span>
                                <span ng-show="post.data.rates[3] > 0"><i class="fa fa-fw fa-hand-peace-o"></i>{{ post.data.rates[3] }}</span>
                                <span ng-show="post.data.rates[4] > 0"><i class="fa fa-fw fa-heartbeat"></i>{{ post.data.rates[4] }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </div>
</div>