<div class="container home">

    <div class="row">
        <div class="col-sm-3">
            <div class="avt">
                <img ng-src="{{ user.avatar }}" alt="avt" class="img-responsive center-block"/>
                <hr>
                <h3 class="text-center">
                    <a href="#">{{ user.name }}</a>
                </h3>
                <hr>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-default" ng-click="changeMode('new')"> Mới nhất</button>
                <button type="button" class="btn btn-lg btn-default"> Đánh giá</button>
                <button type="button" class="btn btn-lg btn-default" ng-click="changeMode('bookmarks')"> Đã lưu</button>
            </div>
            <hr>

            <div class="row" masonry infinite-scroll="getPosts(currentData)" infinite-scroll-disabled="busy">
                <div class="col-sm-6 masonry-brick" ng-repeat="post in currentData.data">
                    <div class="post">
                        <div class="post-header">
                            <img ng-src="{{ post.user.avatar }}" alt="user avt" class="post-avt"/>
                            <span>
                        <a href="#">{{ post.user.name }}</a> <small> in {{ fromNow(post.created_at) }}</small><span
                                    class="pull-right">
                                 <md-menu md-position-mode="target-right target">
                                      <md-button aria-label="Open demo menu" class="md-icon-button"
                                                 ng-click="$mdMenu.open($event)">
                                        <md-icon md-menu-origin class="fa fa-chevron-down"></md-icon>
                                      </md-button>
                                      <md-menu-content width="2">
                                        <md-menu-item>
                                          <md-button>
                                              <div layout="row" flex>
                                                <p flex>Report</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                          <md-menu-item>
                                          <md-button ng-click="createBookmark(post)">
                                              <div layout="row" flex>
                                                <p flex>Bookmark</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                          <md-menu-item ng-if="isOwn(post.user_id)">
                                          <md-button>
                                              <div layout="row" flex>
                                                <p flex>Edit</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="isOwn(post.user_id)">
                                          <md-button ng-click="deletePost(post)">
                                              <div layout="row" flex>
                                                <p flex>Delete</p>
                                                <md-icon md-menu-align-target
                                                         style="margin: auto 3px auto 0;"></md-icon>
                                              </div>
                                          </md-button>
                                        </md-menu-item>

                                      </md-menu-content>
                                    </md-menu>
                    </span>
                        </div>
                        <hr>
                        <div class="post-body">
                            <div class="word-wrap">{{ post.body }}
                                <br/><a href="#/" ng-click="showPostContent($event, post)"> Read more</a>
                            </div>
                            <br>
                            <p><i class="fa fa-map-marker fa-fw"></i>
                                <small><a title="See on google maps" target="_blank" href="https://www.google.com/maps/@{{post.location.lat}},{{post.location.long}},16z">{{ post.location.name }}</a></small>
                            </p>
                            <div class="post-images">

                                <div ng-if="post.images.length == 1" class="img-100">
                                        <img ng-src="{{ post.images[0].src.thumb512.url }}"
                                        alt="{{ post.images[0].title }}"
                                        ng-click="showPostContent($event, post)"
                                        class="img-responsive center-block">
                               </div>

                                <div ng-if="post.images.length == 2" class="img-100">
                                    <div class="img-50">
                                        <img ng-src="{{ post.images[0].src.thumb256.url }}"
                                             alt="{{ post.images[0].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-50">
                                        <img ng-src="{{ post.images[1].src.thumb256.url }}"
                                             alt="{{ post.images[1].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                </div>

                                <div ng-if="post.images.length == 3" style="width: 100%">
                                    <div class="img-100">
                                        <img ng-src="{{ post.images[0].src.thumb512.url }}"
                                             alt="{{ post.images[0].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-50">
                                        <img ng-src="{{ post.images[1].src.thumb512.url }}"
                                             alt="{{ post.images[1].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-50">
                                        <!--<i class="fa fa-plus fa-3x" ng-if="$index == 3" style="position: absolute; top: 40%; left: 42%; z-index: 1000"></i>-->
                                        <img ng-src="{{ post.images[2].src.thumb512.url }}"
                                             alt="{{ post.images[2].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                </div>
                                <div ng-if="post.images.length == 4" class="img-100">
                                    <div class="img-100">
                                        <img ng-src="{{ post.images[0].src.thumb256.url }}"
                                             alt="{{ post.images[0].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[1].src.thumb256.url }}"
                                             alt="{{ post.images[1].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[2].src.thumb256.url }}"
                                             alt="{{ post.images[2].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[3].src.thumb256.url }}"
                                             alt="{{ post.images[3].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                </div>
                                <div ng-if="post.images.length == 5" class="img-100">
                                    <div class="img-50">
                                        <img ng-src="{{ post.images[0].src.thumb256.url }}"
                                             alt="{{ post.images[0].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-50">
                                        <img ng-src="{{ post.images[1].src.thumb256.url }}"
                                             alt="{{ post.images[1].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[2].src.thumb256.url }}"
                                             alt="{{ post.images[2].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[3].src.thumb256.url }}"
                                             alt="{{ post.images[3].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[4].src.thumb256.url }}"
                                             alt="{{ post.images[4].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                </div>
                                <div ng-if="post.images.length > 5" class="img-100">
                                    <div class="img-50">
                                        <img ng-src="{{ post.images[0].src.thumb256.url }}"
                                             alt="{{ post.images[0].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-50">
                                        <img ng-src="{{ post.images[1].src.thumb256.url }}"
                                             alt="{{ post.images[1].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[2].src.thumb256.url }}"
                                             alt="{{ post.images[2].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33">
                                        <img ng-src="{{ post.images[3].src.thumb256.url }}"
                                             alt="{{ post.images[3].title }}"
                                             ng-click="showPostContent($event, post)"
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="img-33 ">
                                        <div ng-click="showPostContent($event, post)" class="text-center" style="line-height: 80px; color: #fff;z-index: 1000;position: absolute; left: 0; top:0; bottom: 0; right: 0; background-color: rgba(0, 0, 0, 0.5) ">
                                            <b>{{ post.images.length - 5 }} +</b>
                                        </div>

                                        <img ng-src="{{ post.images[4].src.thumb256.url }}"
                                             alt="{{ post.images[4].title }}"

                                             class="img-responsive center-block red"
                                        style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="post-footer">
                            <hr>
                            <span ng-click="showPostContent($event, post)"><i class="fa fa-fw fa-comments"></i>{{ post.data.comments}}</span>
                            <span class="pull-right feeling" ng-click="showPostContent($event, post)">
                                <span><i class="fa fa-fw fa-thumbs-o-up"></i>{{ post.data.rates[0] }}</span>
                                <span ng-show="post.data.rates[1] > 0"><i class="fa fa-fw fa-heart-o"></i>{{ post.data.rates[1] }}</span>
                                <span ng-show="post.data.rates[2] > 0"><i class="fa fa-fw fa-smile-o"></i>{{ post.data.rates[2] }}</span>
                                <span ng-show="post.data.rates[3] > 0"><i class="fa fa-fw fa-hand-peace-o"></i>{{ post.data.rates[3] }}</span>
                                <span ng-show="post.data.rates[4] > 0"><i class="fa fa-fw fa-heartbeat"></i>{{ post.data.rates[4] }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <img class="img-responsive center-block" src="http://www.whattoexpect.com/groups/images/loading.gif"
                 alt="loading" ng-show="busy">
        </div>

    </div>
</div>