/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap/dist/css/bootstrap.min
 *= require angular-material/angular-material.min
 *= require font-awesome/css/font-awesome.min
 *= require ngToast/dist/ngToast.min.css
 *= require ngToast/dist/ngToast-animations.min
 *= require_self
 *= require home
 *= require wall
 */
* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    min-width: 100%;
}

.navbar-default {
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9999;
}

.main {
    padding-top: 70px;
    min-height: 100%;
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
}

div.footer-bar {
    padding-top: 25px;
    min-height: 300px;
    background-color: #E75639;
    color: #ffffff;
    font-weight: bold;
}
.md-dialog-container{
    z-index: 99999;
}