@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,400,700,200);
.new-posts{
  position: fixed;
  z-index: 5000;
  left: 0;
  right: 0;
  height: 50px;
  bottom: 15px;
  text-align: center;
  .box{
    line-height: 50px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 3px black;
  }
}
small {
  color: #A29BB5;
}
.ng-toast{
  z-index: 9999;
  margin-top: 90px;
  right: 80px;
}

#tabs-sticky-wrapper{
  width: 99%;
  margin-left: 5px;
  box-sizing: inherit;
}
.is-sticky{
}
#tabs{
  z-index: 1000!important;
  background-color: #ffffff;
}


a:hover{
  text-decoration: none;
}
.navbar-default{
  background-color: #ffffff;
}
.navbar-no-color{
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-default{
  z-index: 5000!important;
}
.md-dialog-backdrop{
  z-index: 9000!important;
}

.word-wrap{
  word-wrap: break-word;
}
.text-red{
  color: red;
  font-weight: bolder;
}
.feeling > span{
  margin-right: 10px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#download-half-2{
  padding-top: 100px;
  padding-bottom: 100px;
}
/*----------------------------------------------------------------------------------------
						FACTS BLOCK STYLES
----------------------------------------------------------------------------------------*/
.facts-block{
  padding: 100px;
}
.facts-block .icon {
  display: block;
  font-size: 64px;
  padding-bottom: 20px;
  opacity: 0.4;
}

.facts-block h3 {
  font-size: 60px;
  margin: 0 0 10px 0;
  line-height: 1;
  font-weight: 200;
}

.facts-block h4 {
  margin: 0;
  font-weight: 200;
}

.hero{
  color: #ffffff;
  h1.you{
    font-size: 4em;
    font-weight: 100;
    margin-top: 150px;
    text-shadow: 0px 0px 5px #000;
  }
  h1.sologan{
    font-weight: 700;
    font-size: 110px;
    line-height: 132px;
    text-shadow: 0px 0px 5px #000;
    text-transform: uppercase;
  }
  .btn-hero{
    padding: 10px 100px 10px 100px;
  }
}

.or{
  height: 80px;
  width: 80px;
  border: 2px gray solid;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  margin-top: 200px;
}

.home{
  padding-top: 200px;
  padding-bottom: 100px;
}
.avt{
  border-radius: 50%;
  margin-right: 10px;
}
.app{
  background-color: #E9EBEE;
  .col-sm-6{
    padding: 0px 5px 0px 5px;
  }
  .masonry-brick{
    box-sizing: border-box;
  }

  .post{
    margin: 5px 0px 5px 0px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #fff;
    font-family: 'Roboto';
    .post-avt{
      height: 32px;
      width: 32px;
      margin-right: 10px;
    }
    .post-images {
      z-index: 500;
      img{
        box-sizing: border-box;
        -webkit-transition:  0.5s;
        -moz-transition:  0.5s;
        -o-transition:  0.5s;
        transition:  0.5s;
        width: 100%;
      }
      img:hover{
        transform: scale(1.5);
      }
      .img-none{
        display: none;
      }
      .img-100{
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 0 3px 0;
      }
      .img-50{

        overflow: hidden;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 50%;
        padding: 0 2px 0 2px;
      }
      .img-33{
        z-index: 500;
        overflow: hidden;
        position: relative;
        padding: 0 2px 0 2px;
        display: inline-block;
        box-sizing: border-box;
        width: 33.333333333%;
      }
    }
  }
}

.post-dialog{
  .img-btn{
    top: 45%;
    position: absolute;
    i {
      text-shadow: 0 0 2px black;
      color: rgba(255, 255, 255, 1);
    }
  }
  .img-next{
    right: 42%;
  }
  .img-box, .info{
    padding: 10px;
  }
  .img-box{
    background-color: rgba(0, 0, 0, 0.2);
  }
  .avt{
    height: 32px;
    width: 32px;
    margin-right: 10px;
  }
  .comment-avt{
    height: 32px;
    width: 32px;
    margin-right: 5px;
    border-radius: 3px;
  }
  ul{
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    padding-left: 0;
    .row{
      margin-right: 0px;
    }
    li{
      margin-bottom: 2px;
      padding-top: 10px;
      background-color: #F6F7F9;
      .input {
        margin: 10px;
        border: none;
        border-radius: 1px;
        width: 100%;
        padding: 2px;
        border-bottom: 1px solid #CCCCCC;
      }
      .row{
        margin-right: 0px;
      }
      .col-sm-1{
        padding: 0 0 0 15px;
      }
      .col-sm-11{
        padding-left: -10px;
        padding-right: 0;
      }
    }
  }

}
.post-dialog{
  .col-md-3{
    padding: 5px;
  }
  .img-thumb{
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 0 2px black;
    margin-top: 5px;
  }

}

.col-sm-11:hover{
  .delete-comment{
    display: block;
  }
}
.delete-comment{
  display: none;
  color: #C2C5CD;
}
.new-post{
  position: fixed;
  bottom: 100px;
  right: 20px;

}
.col-md-3:hover .delete-img{
  display: block;
}
.delete-img{
  display: none;
  position: absolute;
  right: 0;
  color: red;
}

#about{
  .edit-cover, .edit-avatar{
    transition: 0.25s;
    transform: scale(0);
  }
  .header:hover .edit-cover{
    transform: scale(1);
  }
  .avatar:hover .edit-avatar{
    transform: scale(1);
  }
}

.controls {
  margin: 10px;
  float: left;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  z-index: 99999;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
/*----------------------------------------------------------------------------------------
										FOOTER STYLES
----------------------------------------------------------------------------------------*/
.bg-color1 {
  background-color: #252830;
}
.dark-bg {
  color: #fff;
}

body >footer {
  .soc-list li {
    display: inline-block;
    margin: 10px 0;
  }

  .soc-list .icon {
    display: inline-block;
    font-size: 25px;
    margin: 0 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  ul {
    margin: 0;
    padding: 0px;
    list-style: none;
  }
  padding-top: 80px;
  padding-bottom: 80px;
}

footer h4 {
  margin-top: 0;
}

footer .links-list li {
  font-size: 15px;
  padding-bottom: 10px;
}

footer img.logo {
  float: left;
  margin: 0 20px 0 0;
}
@media (max-width: 992px) {

  footer {
    padding: 50px 0;
  }

  footer img.logo {
    display: none;
  }
}