<!-- FOOTER -->
<footer id="footer" class="bg-color1 dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6 text-right">
        <ul class="soc-list">
          <li><a href="#" style="padding-right:15px;"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#" style="padding-right:15px;"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="#" style="padding-right:15px;"><i class="fa fa-google-plus fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-md-pull-6"> <img class="logo" src="/images/footer-logo.png" height="50" alt=""> <span class="editContent">© 2016 Wevivu<br>
					Designed by <a href="http://wevivu.com/" target="_blank">Wevivu.com</a></span> </div>
    </div>
  </div>
</footer>