<footer>
  <div class="footer-bar text-center">
    <h3>Like what you see?</h3>
    <hr>
    <h1>Wevivu.com</h1>
    <hr>
    <h4>info@wevivu.com</h4>
    <h4>1st Dai Co Viet, Hai Ba trung, Ha Noi, Vietnam</h4>
  </div>
</footer>