<nav class="navbar navbar-default navbar-fixed-top <%=raw logged_in? == false ? 'navbar-no-color' : '' %>" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Wevivu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if !logged_in? %>
          <li><md-button class="md-raised md-primary" aria-label="Login" ng-click="showLoginAndSignupForm($event)">Login</md-button></li>
          <li><md-button class="md-raised md-warn" aria-label="Register"  ng-click="showLoginAndSignupForm($event)">SignUp</md-button></li>
        <% else %>
            <li>
              <a href="#/wall"><img height="28px" width="28px" src="<%= current_user.avatar.thumb128.url %>" class="avt"/><%= current_user.name %>
              </a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>